*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	font-family: 'Open Sans', sans-serif;	
}

a{ 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*
.body{
	width: 100%;
	height: 100vh;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
.header{
	width: 100%;
	height: 75px;
	background: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.logo{
	float: left;
	line-height: 75px;
}

.logo h1{
	color: #29a1ff;
	font-weight: bold;
	font-size: 24px;
	cursor: default;
}

.menu{
	float: right;
	line-height: 75px;
	transform: translateX(-1000%);/*Para que no muestre le menu en pc*/
}

.menu, a{
	color: #555555;
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px;
	line-height: normal;
	font-size: 14px; 
}

/*---------Estilos boton------------*/
#btn-menu{
	display: none;
}

.lbl-menu{
	float: right; /**/
	margin-right: 15px;
	display: none;	
	color: #29a1ff;
	font-weight: bold;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
}

.lbl-menu #spn1, #spn2, #spn3{
	top: 25px;
	position: absolute;
	content: '';
	background: #29a1ff;
	width: 20px;
	height: 2px;
	border-radius: 5px;
	transition: all 400ms ease;
}

#spn2{
	top: 30px;
}

#spn3{
	top: 35px;
}

/* ---- ----- ----- Scroll Bar ----- ----- ----- */

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
 }

/*----------Diseño Cards----------*/
.card{
	margin-left: 25px;
	margin-top: 85px;
	width: 450px;
	height: 150px;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
	padding: 20px;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
}

.card-content{
	display: flex;
}

.card .card-img{/*Cambiar el tamaño de img*/
	width: 30%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
	margin-right: 15px;
}

.card .card-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-text{
	width: 50%;
}

.card-text h4{
	font-size: 25px;
	font-weight: 400;
	margin-top: 8px;
}

.card-text p{
	font-weight: 300;
	margin-top: 10px;
}

.icons{
	margin-top: 15px;
	font-size: 18px;
	color: #f55951;
}

.item{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #f2dbd5;
	text-align: center;
	font-size: 18px;
	color: #707070;
	cursor: pointer;
}

/*Codigo para dispositivos moviles*/
@media only screen and (min-width: 320px) and (max-width: 768px){
	.header{
		height: 60px;
	}

	.logo, .boton{
		line-height: 60px;
	}

	.logo h1{
		font-size: 18px;
	}

	.menu{
		position: absolute;
		background: #fff;
		width: 100%;
		height: 100vh;
		top: 60px;
		left: 0;
		transition: all 500ms ease;
		transform: translateX(-100%); 
	}

	.menu a{
		display: block;
		margin-top: 10px;
		text-align: center;/**/
	}

	.nameApp{
		color: #555;	
		font-weight: bold;
		font-size: 28px;
	}

	#btn-menu:checked ~ .menu{
		transform: translateX(0%); 
	}

	#btn-menu:checked ~ .lbl-menu #spn1{
		transform: rotate(140deg);
		top: 31px;
	}

	#btn-menu:checked ~ .lbl-menu #spn2{
		opacity: 0;
	}

	#btn-menu:checked ~ .lbl-menu #spn3{
		transform: rotate(-140deg);
		top: 31px;
	}

	.lbl-menu{
		display: block;
	}
}